# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8e19227467cb4363f0c398286385a33958a533edb87f16fe36f6a392320cbd450fc77801f682abfb356fed1b71852e29b3cf1eddd7e83d911744416962de6f31

test:
  secret_key_base: 95c58afc4414796efc0087c6cac56c696b465e3b0327ec7e5347250fdab406ea9f59d521099dd734b03f8c20c60a478b07687a79a7e539d6d441186ee2d63038

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
